.ohgod
  .contact-content
    = record_filter_search.name
    %br
    = record_filter_search.ph
    %br
    = record_filter_search.email
    %br
  %button.add-contact-record-filter.btn.btn-primary{"data-contact-id" => record_filter_search.id}
    Add
