.panel.panel-primary
  .panel-heading
    = @book.name
    (Rs)
  .panel-body
    = link_to "Add Record", new_company_book_finance_record_path(@company, @book), class: "btn btn-default"
  .panel-footer= @book.description

