%h1 Listing companies

%table.table.table-stripped
  %tr
    %th Company
    %th Income
    %th Expense
    %th Pen - Income
    %th Pen - Expense
    %th Balance
  =render @companies
  


= link_to 'New Company', new_company_path
