- unless notice.nil?
  .alert.alert-success.fade.in
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
    = notice
- unless alert.nil?
  .alert.alert-danger.fade.in
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
    = alert
