!!!
%html
  %head= render partial: "common/head"
  %body
    .container-fluid
      .row
        .col-md-6.col-md-offset-3= render partial: "common/alerts"
      = yield
      = render partial: "common/footer"

